body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777;
}

* {
  box-sizing: border-box;
}

/* general */

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-size: 2.2em;
  letter-spacing: .1em;
  line-height: 2.4em;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
}

h2,
h3 {
  font-family: 'proxima-nova', sans-serif;
  font-size: 22px;
}

/* header */

#masthead {
  position: fixed;
  font-family: 'proxima-nova', sans-serif;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  color: #4a4a4a;
  background: #fff;
  border-bottom: 2px solid #ccc;
}

#logo {
  float: left;
  width: 250px;
  height: 90px;
  font-family: 'proxima-nova', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.719);
}

nav {
  float: right;
  margin-top: 25px;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}



/* footer */

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #ff4335d8;
  height: 50px;
}

h3, h2 {
  font-family: 'proxima-nova', sans-serif;
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}

/* main */

#main-container {
  padding-top: 130px;
  min-height: calc(100vh - 70px);
}

.main-section {
  float: left;
  width: 100%;
  max-width: 650px;
  padding: 30px;
  margin: 0 0 40px 0;
  background: #fff;
  /* border: 1px solid #ddd; */
  
}

/* sidebar */

.sidebar {
  float: right;
  max-width: auto;
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
}
.social {
 width: 62px;
 height: 62px;
 margin-top: 8px;
 margin-right: 5px;
}
.social:last-child {
  margin-right: 0;
}
#connect {
  text-align: center;
}

/* portfolio page */

.work {
  width: 274px;
  overflow: auto;
  position: relative;
  float: left;
  margin: 20px 0 25px;
  
}

.work:nth-child(even) {
  margin-right: 40px;

}

.work img {
  width: 100%;
  height: 150px;
  border: 0 none;
  opacity: 1.8;

}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 6px;
  margin-bottom: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #666;
  border-bottom: 0;
}
.ghub {
  left: 27%;
  bottom: 34%;
  width: 33px;
}
.ghub1 {
  position: static;
  left: 48%;
  bottom: 34%;
  width: 33px;
}
.ghub2 {
  position: static;
  left: 48%;
  bottom: 5%;
  width: 33px;
}
.ghub3 {
  position: static;
  left: 37%;
  bottom: 34%;
  width: 33px;
}
.ghub4 {
  position: static;
  left: 27%;
  bottom: 34%;
  width: 33px;
}
.ghub5 {
  position: absolute;
  left: 27%;
  bottom: 34%;
  width: 33px;
}

.profimg {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #ff4335e1;
  border: 0 none;
  
}


/* Media Queries*/

@media screen and (max-width: 980px) {
   #main-container {
     width: 80%;
   }
   .profimg {
     width: 80%;
   }
   .main-section {
     width: 50%;
   }
   p {
     width: 100%;
   }
   .container {
     width: 80%;
   }
}

@media screen and (max-width: 768px) {
 .main-section {
   width: 100%;
 }

 .profimg {
   width: 50%;
 }
 p {
   width: 100%;
 }
.sidebar {
  width: 100%;
}

.work {
  width: 45%;
}
.work h3 {
  width: 100%;
  height: 40%;
}
}

@media screen and (max-width: 640px) {
 .container {
   position: static;
   width: 100%;
 }
  #logo {
    width: 100%;
  }
  nav  {
    width: 100%;
    text-align: center;
  }
  .main-section {
    width: 100%;
    margin-top: 40px;
  }

  .sidebar {
    width: 100%;
  }
  .profimg {
    width: 100%;
  }
  .work {
    width: 100%;
  }
  .work h3 {
    height: 25%;
  }
}
